pool:
    vmImage: 'windows-2022'
steps:
    - task: UseDotNet@2
      displayName: Use .NET SDK
      inputs:
          packageType: sdk
          version: 10.0.100
    - task: CmdLine@2
      displayName: Install workload
      inputs:
          script: dotnet workload install ios android wasm-tools macos
    - task: DotNetCoreCLI@2
      inputs:
          command: test
    - task: DotNetCoreCLI@2
      displayName: Pack
      inputs:
          packagesToPack: src/**/*.csproj
          command: pack
          outputDir: $(Build.ArtifactStagingDirectory)/NuGet
          verbosityPack: normal
    - task: PublishBuildArtifacts@1
      displayName: Publish Build Artifacts
      inputs:
          pathtoPublish: $(Build.ArtifactStagingDirectory)/NuGet
          artifactName: NuGet
      condition: succeeded()
